a {
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
}

a:hover, a:focus, a:link, a:visited, a:active {
    text-decoration: none;

}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.text-link:hover {
    color: inherit;
    text-decoration: inherit;
}